<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState />
  <Shaders>
    <ShaderConfiguration>
      <Name>RenderCumulative</Name>
      <Enabled>true</Enabled>
      <VertexShader>traces.vert</VertexShader>
      <GeometryShader>traces.geom</GeometryShader>
      <FragmentShader>traces_cumulative.frag</FragmentShader>
      <MeshName>Cumulative</MeshName>
      <RenderState />
      <TextureBindings />
      <FramebufferAttachments />
    </ShaderConfiguration>
    <ShaderConfiguration>
      <Name>RenderCurrent</Name>
      <Enabled>true</Enabled>
      <VertexShader>traces.vert</VertexShader>
      <GeometryShader>traces.geom</GeometryShader>
      <FragmentShader>traces_current.frag</FragmentShader>
      <MeshName>Current</MeshName>
      <RenderState />
      <TextureBindings />
      <FramebufferAttachments />
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes>
    <MeshConfiguration>
      <Name>Cumulative</Name>
    </MeshConfiguration>
    <MeshConfiguration>
      <Name>Current</Name>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>